.par {
  font-family: Bahnschrift;
  color: whitesmoke;
}
.t {
  font-family: Bahnschrift;
  font-weight: bold;
  font-stretch: expanded;
  color: white;
}
.image {
  float: right;
  margin: 0px 0px 0px 0px;
}

.line {
  margin: 20px 0;
  padding: 0;
  height: 6px;
  border: none;
  background: linear-gradient(45deg, #ffffff, #000000);
}
.sign figcaption {
  margin: 0 auto 5px; /* Отступы вокруг абзаца */
}
.pic {
  display: block;
}
.pic + p{
  width: 200px;
  text-align: center;
}
.list{
  font-family: Bahnschrift;
  font-width: normal;
  color: whitesmoke;
}
.ol {
  font-family: Bahnschrift;
  font-width: bold;
  color: red;
}


